@charset "utf-8";
/* setting up the layout */

/* general style */

body{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#ccc;
	line-height:20px;
	letter-spacing:0.6px;
	font-size:12px;
	text-align:center;
	background:url(../images/bg.gif) top left repeat-x;
}

div#wrap{
	width:800px;
	margin:0px auto;
	text-align:left;
}

h1, h2, h3, h4, h5, h6{
	margin-top:30px;
	margin-bottom:10px;
	color:#fff;
}

h1{
	font-size:34px;
	line-height:34px;
	letter-spacing:0px;
	margin-left:30px;
}

h3{
	font-size:16px;
	letter-spacing:0;
}

img{
	margin:20px 0;
	padding:4px;
	border:#46423e 1px solid;
}

a{
	color:#5e997f;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

ul.default{
	list-style:none;
	margin:0;
	padding:0;
}

ul.default li{
	padding-left:24px;
	background:url(../images/tick_16.png) left 50% no-repeat;
}

.clear{
	clear:both;
}

/* header style */

#header{
	margin:16px 0 16px 0;
	width:100%;
	float:left;
}

#header #logo{
	border:none;
	padding:0;
	margin:15px 0 0 0;
	float:left;
}

#header p{
	color:#26211c;
	float:right;
	width:360px;
	font-size:13px;
	letter-spacing:0.6px;
	line-height:18px;
	padding-top:0px;
	text-align:justify;
}

/* container style */

#container{
	width:796px;
	background:#26211c;
	float:left;
	border:#888 1px solid;
}

#container .menu{
	float:right;
	padding:13px 13px 0 0;
}

#container .menu img{
	margin:0;
	padding:0;
	border:none;
}

.section{
	width:45px;
	float:left;
	background:#26211c;
	height:600px;
	overflow:hidden;
	direction:rtl;
	text-align:left;
}

.active{
	cursor:default;
}

#contact{
	background:#5e997f url(../images/shade-green-light.gif) right top repeat-y;
}

#portfolio{
	background:#005d66 url(../images/shade-green.gif) right top repeat-y;
}

#services{
	background:#2e3d4f url(../images/shade-blue.gif) right top repeat-y;
}

.content{
	width:600px;
	margin-left:55px;
}

#container .content{
	margin-right:55px;
	margin-left:0;
	direction:ltr;
}

.content div.box{
	width:270px;
	float:left;
	margin-left:30px;
}

/* section active style */

#container .active{
	width:660px;
	border-right:none;
}

.active .content{
	display:block;
}

/* section services style */

.pricelist{
	margin-left:30px;
	margin-top:30px;
	width:572px;
	float:left;
}

.pricelist tr.title td{
font-weight:bold;
border-bottom:#4d5a69 1px solid;
font-size:14px;
padding:2px 5px;
}

.pricelist tr.highlight td{
background:#293747;
}

.pricelist tr td{
border-bottom:#435161 1px dotted;
padding:2px 5px;
}

/* section portfolio style */

#portfolio ul{
	margin:20px;
	padding:0;
	list-style:none;
}

#portfolio h3{
	margin-left:30px;
	margin-top:30px;
}

ul.items li{
	float:left;
	width:auto;
	margin:10px;
}

#portfolio img{
	border:#26757d 1px solid;
}

ul.items li img{
	margin:0;
	cursor:pointer;
}

.project_details{
	display:none;
}

#project_details{
	margin-top:40px;
}

#project_details img{
	float:left;
	margin:0 30px;
}

#project_details .description{
	margin-left:333px;
}

#project_details .description h3{
	margin:0 !important;
	padding:0;
}

#project_details .description ul{
	margin:0 0 25px 0 !important;
}

#project_details .description .links a{
	padding:3px 15px;
	background:#17393a;
	color:#005d66;
	font-weight:bold;
}

/* section contact style */

#contact{
	color:#ddd;
}

#contact .info{
	color:#fff;
	margin-left:30px;
	margin-top:40px;
	font-size:13px;
	padding-bottom:20px;
}

#response{
	margin-bottom:20px;
	margin-top:0;
}

#contact_info{
	float:right;
	width:200px;
}

#contact_form{
	margin-left:30px;
}

#contact_form h3{
	margin-bottom:5px;
}

#contact_form label{
	display:block;
	float:left;
	width:100px;
	font-weight:bold;
	color:#eee;
}

#contact_form input{
	width:180px;
	height:20px;
	margin-bottom:5px;
}

#contact_form textarea{
	width:220px;
	height:120px;
}

#contact_form p#submit input{
	width:80px;
	height:30px;
}

.error{
	color:#F00;
}

/* footer style */

#footer{
	float:left;
	width:100%;
}

#footer p{
	text-align:right;
	color:#26211c;
	line-height:16px;
	margin-top:7px;
}